/*first curve*/
.wave-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave-1 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 133px;
}

.wave-1 .shape-fill {
  fill: #4BCAF0;
}
